<head>
    <title><%# title %></title>
    <!--<link rel='stylesheet' href='../styles/css/app.css' />-->
    <style>
        body {
            font-family: Arial;
        }
        .btn {
            position: fixed;
            top: 20px;
            left: 90%;
            background: lightseagreen;
            color: #fff;
            font-size: 1em;
            padding: .5em 1em;
            border-radius: 1em;
            border: none;
        }
        .row input {
            width: 30%;
        }

        .resp-status {
            position: fixed;
            color: red;
            top: 0;
            width: 100%;
            text-align: center;
            font-size: 3em;
            background: #fff;
            border: 1px solid red;
        }
    </style>
</head>