<!DOCTYLE html>
    <head>
        <%- include partials/head  %>
    </head>
    <body>
        <div>
            <h1></h1>
            <div class="instructions">
                Use special charaters:<br>
                <  	%3C <br>
                >	%3E <br>
                "	%22 <br>
                :	%3A <br>
                ;	%3B <br>

                For example: <br>
                if you what to break the line, write: <br>
                %3Cbr%3E

                See others <a href="https://www.w3schools.com/tags/ref_urlencode.asp" target="_blank">here</a>:

            </div>
            <form>
                <% for(var item in endata){%>
                <div class="row">
                    <div class="key"><%= item %></div>
                    <textarea class="eng" cols="30" rows="10"><%= endata[item] %></textarea>
                    <textarea class="ru" cols="30" rows="10"><%= rudata[item] %></textarea>
                    <textarea class="uk" cols="30" rows="10"><%= ukdata[item] %></textarea>
                </div>
                <% } %>
                <input type="button" class="btn" value="Save">
                <div class="resp-status"></div>
            </form>
        </div>
    </body>
</html>

<script>

    function dataToJSON () {
        var en = {};
        var ru = {};
        var uk = {};

        var data = [];

        var btn = document.querySelector('.btn');
        var respStatus = document.querySelector('.resp-status');

        btn.addEventListener('click', function () {
            var keyInput = document.querySelectorAll('.key');
            var engInput = document.querySelectorAll('.eng');
            var ruInput = document.querySelectorAll('.ru');
            var ukInput = document.querySelectorAll('.uk');

            var tmp_key = [];
            var tmp_en_val = [];
            var tmp_ru_val = [];
            var tmp_uk_val = [];

            for(var key in keyInput) {
                tmp_key.push(keyInput[key].innerHTML);
            }

            for (var item in engInput) {
                tmp_en_val.push(engInput[item].value);
            }

            for (var item in ruInput) {
                tmp_ru_val.push(ruInput[item].value);
            }

            for (var item in ukInput) {
                tmp_uk_val.push(ukInput[item].value);
            }

            for(var item in tmp_key) {
               // console.log(tmp_key[item]);
                en[tmp_key[item]] = tmp_en_val[item];
                ru[tmp_key[item]] = tmp_ru_val[item];
                uk[tmp_key[item]] = tmp_uk_val[item];
            }

            data.push(en, ru, uk);
            console.log(data);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/getjson', true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                    console.log(xhr.responseText);
                    respStatus.innerText = xhr.responseText;

                   setTimeout(function () {
                       location.reload(true);
                   }, 100)
                }
            }

           xhr.send(JSON.stringify(data));
           data = [];

        }, false);
    }

    window.onload = function () {
        dataToJSON();
    }

</script>