.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
}

footer {
  padding: 78px 0 0 0;
  text-align: center;
  clear: both;
  margin-bottom: 5em;
  position: relative;

  .socials {
    display: inline-block;
    overflow: hidden;
    list-style: none;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;

    a {
      display: inline-block;
      width: 64px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      color: #423e3e;
      border-radius: 50%;
      font-size: 40px;
      background-color: #fafafa;

      &:hover {
        background: #423e3e;
        color: #ffffff;
        text-decoration: none;
      }
  /*
      &.fa-facebook {
        color: #3b5998;

        &:hover {
          background: #3b5998;
          color: #fff;
        }
      }
  */

    }

    li {
      float: left;
    }
  }

  .links {
    a {
      margin: 0 1em;
    }
  }
}

footer .socials li {
  margin-left: 100px;
}

@media (max-width: 767px) {
  footer .socials li {
    margin: 15px;
  }
}
@media (max-width: 479px) {
  footer .socials li {
    margin: 5px;
  }
}

@media (max-width: 479px) {
  footer .socials a {
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
