.parallax {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
  //width: 100%;
  //background-position: center 0;
  //background-repeat: no-repeat;
  //
  //.mobile &, .tablet & {
  //  background-position: 50% 0 !important;
  //  background-size: cover;
  //}


}


/** Parallax Backgrounds **/
.parallax1{
  text-align: center;
  background-color: #FFF;
  background-image: url(../../images/parallax01.jpg);
  padding: 132px 0 127px;
  background-size: cover;

  @media (max-width: 727px) {
    background-attachment:scroll;
    background-image: url(../../images/parallax01_sm.png);
  }
}


/** Responsive Layout **/

@media (max-width: 767px) {
  .parallax{
    background-position: center -200px !important;
    background-size: initial;
  }
}

